@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background: url("https://img.freepik.com/fotos-gratis/luz-do-sol-brilhando-no-topo-de-uma-unica-montanha-ao-por-do-sol-com-ceu-nublado-escuro_181624-377.jpg?t=st=1713657414~exp=1713661014~hmac=9062b62bfb749b366aa3209488d95c1195ad6f941dfdd9af5e74d152cdb54d5f&w=900") fixed; /* Adiciona 'fixed' aqui */
    background-size: cover;
    background-repeat: no-repeat;
    color: #f2f2f2;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("https://img.freepik.com/fotos-gratis/luz-do-sol-brilhando-no-topo-de-uma-unica-montanha-ao-por-do-sol-com-ceu-nublado-escuro_181624-377.jpg?t=st=1713657414~exp=1713661014~hmac=9062b62bfb749b366aa3209488d95c1195ad6f941dfdd9af5e74d152cdb54d5f&w=900");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px); /* adiciona desfoque ao background */
    z-index: -1; /* coloca o pseudo-elemento abaixo dos outros elementos */
}


.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;
}

.login__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* coloca o GIF atrás dos outros elementos */
    filter: brightness(0.35); /* reduz o brilho do GIF */
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 180px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    outline: none;
    border-radius: 5px;
}

.login__input:focus {
    outline: 2px solid #f2f2f2;
}

.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login__button:hover {
    background-color: #fff;
}

.chat {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat__form {
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat__button {
    border: none;
    background: none;
    color: #3bbd67;
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.8rem;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 350px; /* Ajustes para delimitar o tamnho do chat */
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
    word-wrap: break-word; /* Quebra de linhas para delimitar o chat */
}

.message--self {
    background-color: #f2f2f2;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message--other {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
}

.message--sender {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}

.announcement {
    background-color: #4b4949;
    color: rgb(233, 233, 233);
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    height: 70px;
}

